<!-- <p>sidebar2 works!</p>

<h3>SideBar</h3> -->

<!-- 
<div class="sidebar">
    <ul>
        <li><a routerLink="dashboard">dashboard</a></li>
        <li><a routerLink="user">User</a></li>
    </ul>
</div>
 -->


 <div id="viewport">
    <div id="sidebar">
        <header>
          <a href="#" class="navbar-brand">Verge Mobility</a>
        </header>
        <ul class="nav flex-column">
          <li>
            <a routerLink="dashboard">
              <i class="pi pi-home"></i> Dashboard
            </a>
          </li>
          <li>
            <a routerLink="user">
              <i class="pi pi-home"></i> user
            </a>
          </li>
        </ul>
      </div>
 </div>    



 